<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h1>{{title}}</h1>

            <form method="post">
                <div class="radio">
                    <label>
                        <input type="radio" name="lang" value="en-ru" checked>
                        EN -&gt; RU
                    </label>
                    <label>
                        <input type="radio" name="lang" value="ru-en">
                        RU -&gt; EN
                    </label>
                    <input type="text" name="text" required />
                    <button class="btn-success" type="submit">Перевести!</button>
                </div>
            </div>
        </div>
    </form>
</div>
